html {
  background: linear-gradient(to bottom left, #000066 0%, #666699 100%);
}
body {
  background: linear-gradient(to bottom left, #000066 0%, #666699 100%);
}

.main-container {
  background: linear-gradient(to bottom left, #000066 0%, #666699 100%);
}

#landing-pokeball-cont {
  text-align: center;
  margin-top: 100px;
}

#player-preview-section {
  height: 300px;
}

.player-preview-heading {
  text-align: center;
  border: 1px solid yellow;
  background: linear-gradient(to top, #990033 0%, #cc0000 65%);
}
