<div class="container" id="draw-button-contianer">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div id="drawButton" class="draw-pokemon-cont text-center">
        <h3>Draw New Pokemon</h3>
        <!--(click)="onClickMe()"-->
        <button
          class="newPokemon-Generate-Button"
          data-toggle="modal"
          data-target="#newpokemonModal"
          (click)="onClickMe()"
        >
          Get a pokemon
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="newpokemonModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="newpokemonModel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div
      class="modal-content justify-content-center"
      id="newPokemon-Modal-Content"
    >
      <!-- <div class="modal-header" id="newPokemon-Modal-Header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          id="newPokemon-x-button"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->

      <div class="modal-body justify-content-center" id="newPokemon-Modal-Body">
        <img
          src="../../../assets/images/pokeball.png"
          id="generate-pokemon-pokeball"
          class="mb-3 animated shake"
          (click)="onBallClick()"
        />
        <div
          class="pokemon-card-outer text-center d-none "
          id="generate-pokemon-card"
        >
          <!-- *ngFor="let pokemon of pokemonArr" -->
          <h4 class="pokemon-card-name">{{ this.pokemonName }}</h4>

          <img src="{{ this.pokemonURL }}" class="pokemon-card-img" />
          <div class="pokemon-card-info-cont">
            <p>Type: {{ this.pokemonType }}</p>
          </div>
        </div>
        <button
          id="generate-pokemon-draw-btn"
          type="button"
          class="newPokemon-Modal-Buttons d-none"
          (click)="onClickMe()"
        >
          Draw Another!
        </button>
        <button
          type="button"
          class="newPokemon-Modal-Buttons "
          data-dismiss="modal"
        >
          Close
        </button>
      </div>
      <!-- <div
        class="modal-footer justify-content-center"
        id="pokemonNew-Modal-Footer"
      >
        <button type="button" class="newPokemon-Modal-Buttons">
          Draw Another!
        </button>
        <button
          type="button"
          class="newPokemon-Modal-Buttons"
          data-dismiss="modal"
        >
          Close
        </button>
      </div> -->
    </div>
  </div>
</div>
