<div class="container">
  <div class="row justify-content-center">
    <div class="col justify-content-center">
      <div id="card-gallery-grid">
        <div
          class="pokemon-card-outer text-center"
          *ngFor="let pokemon of pokemonArr"
        >
          <h4 class="pokemon-card-name">{{ pokemon.pokemonName }}</h4>
          <img src="{{ pokemon.URL }}" class="pokemon-card-img" />
          <div class="pokemon-card-info-cont">
            <p>Type: {{ pokemon.pokemonType }}</p>
          </div>
        </div>
      </div>
      <a href="#" class="btn btn-primary" routerLink="/collection"
        >Full Collection</a
      >
    </div>
  </div>
</div>

<!-- <a href="#" class="btn btn-primary" routerLink="/collection">Full Collection</a> -->
