<div class="container bg-dark text-light">
  <div class="row">
    <div class="col">
      <div id="card-gallery-grid">
        <div class="pokemon-card-outer" *ngFor="let pokemon of pokemonArr">
          <h4 class="pokemon-card-name">{{ pokemon.pokemonName }}</h4>
          <img class="pokemon-card-img" src="{{ pokemon.URL }}" />
          <!-- <p id="hidden-pokemon-{{ pokemon.pokemonId }}">
            {{ pokemon.pokemonId }}
          </p> -->
          <div class="pokemon-card-info-cont">
            <div>Type: {{ pokemon.pokemonType }}</div>
            <br />
            <div>Cost: {{ pokemon.pokemonRarity }}</div>
            <!-- <form #buyForm="ngForm" (ngSubmit)="onBuySubmit()" novalidate>
              <div class="form-group">
                <input
                  type="text"
                  #pokemonId="ngModel"
                  name="USERNAME"
                  class="form-control"
                  [(ngModel)]="pokemonModel.pokemonId"
                />
              </div>
              <button class="shop-buy-btn" type="submit">Buy</button>
            </form> -->
            <button class="shop-buy-btn" (click)="onBuyClick()">Buy</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
